body {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Noto Sans KR', sans-serif;
	transition: all 0.5s;
	background-color: #ece9f6;
}

/* div#wrap {
	margin: 0 auto;
	width: 1300px;
} */

.banner h1{ 
	color: #e44c65; 
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -10px;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}


/* Banner Style */ 
.banner {
	background: #1c1d26;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
	display: flex;
	width: 100%
}

.banner .btn {
	padding: 7px 25px;
	font-size: 14px;
	border-radius: 10px;
	border: 3px solid #e44c65;
	/* position: absolute; */
	/* position: static; */
	right: 150px;
	color: #fff;
	font-weight: bold;
	/* border: none; */
}

/* Featured Style */
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	width: 100%;
	height: 220px;
	border-radius: 5px;
	border: 1px solid #eee;
	background-color: #fff;
	padding: 20px;
	transition: all 0.5s;
}
.featured-item:hover {
	opacity: 0.9;
}



#filters .btn-primary:hover{
	background-color: #fa6b83; 
}
#filter button {
	outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
	color: #fa6b83!important;
	/* box-shadow: none!important; */
	background-color: #fff!important;
	border: 3px solid #fa6b83!important;
}
#filters .btn-primary {
	color: #fff;
	border: none;
	font-size: 15px;
	font-weight: bold;
	background-color: #e44c65;
	border-radius: 14px;
	padding: 8px 12px;
	margin-right: 8px;
	width: 80px;
}



.fa-search:before {
    content: "\f002";
	color: fff;
}
#searchBtn { color: fff; }

#searchArea input {
	border-radius: 10px;
	/* border: 1px solid transparent; */
	border: 3px solid;
	background-color: #ece9f6;
	border-image : linear-gradient(to right, #5e42a6, #b74e91);
	/* background-image: linear-gradient(#fff, #fff), 
	linear-gradient(to right, #5e42a6, #b74e91); */
	background-origin: border-box;
	/* background-clip: content-box, border-box; */
	border-image-slice: 1;
	width: 200px;
}
button#searchBtn{
    width: 38px;
    height: 38px;
	background-image: linear-gradient(to right, #b74e91, #5e42a6);
	border: none;
	margin-left: 5px;
}


#writeBtn {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #5e42a6;
	border: 1px solid #5e42a6;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	transform: translateY(56px);
}
#writeBtnA{
	color: #fff;
	font-size: 50px;
	line-height: 40px;
}
#writeBtn:hover {
	background-color: #5e42a6e5;
}


/* Featured Page Style */
.featured-page {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 180px;
}
.featured-page .section-heading {
	margin-top: 15px;
	margin-bottom: 0px;
}
.featured-page #filters {
	margin-top: 15px;
}
.featured .featured-item {
	margin-top: 100px;
	margin-bottom: 30px;
	text-decoration: none;
}

#filter button {
	outline: none;
}

div.section-heading{
	display: flex;
	justify-content: space-between;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.page-navigation ul {
	text-align: center;
	border-top: 1px solid #eee;
	padding: 30px  0px 0px 0px;
	margin: 0px 0px 80px 0px;
}
.page-navigation ul li {
	display: inline-block;
}
.page-navigation ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight: 700;
	color: #1e1e1e;
	font-size: 15px;
	text-decoration: none;
	transition: all 0.5s;
}
.page-navigation ul li a:hover,
.page-navigation ul li.current-page a {
	/* background-color: #e44c65; */
	background-image: linear-gradient(to right, #5e42a6, #b74e91);
	border-color: #8766da;
	color: #fff;
}



/* Responsive Style */
@media (max-width: 991px) {

	.banner {
		border-top: none;
		margin-top: 0px;
	}
	.banner .btn {
		position: static;
	}
	.featured-page {
		margin-top: 80px;
		margin-left: 0px;
		
	}
	
	.featured-item {
		overflow: hidden;
	}

}

@media (max-width: 767px) {

	#searchArea{ 
		margin-top: 20px;
	}

	.banner .btn {
		position: static;
	}
	
	.banner h1 { font-size: 70px;}
}


/* 메모 hover */
.cs-style-3 figure {
	overflow: hidden;
}
.cs-style-3 figure h1 {
	text-align: center;
	line-height: 160px;
	transition: transform 0.4s;
	color: #000;
}
.cs-style-3 figure h4 {
	text-align: center;
	line-height: 160px;
	transition: transform 0.4s;
	color: #000;
}
.cs-style-3 figure h5 {
	text-align: center;
	line-height: 160px;
	transition: transform 0.4s;
	color: #000;
}

.cs-style-3 figure:hover h1,
.cs-style-3 figure.cs-hover h1,
.cs-style-3 figure:hover h4,
.cs-style-3 figure.cs-hover h4,
.cs-style-3 figure:hover h5,
.cs-style-3 figure.cs-hover h5 {
	transform: translateY(-30px);
}
.grid figure {
	margin: 0;
	position: relative;
}
.featured-item{
	display: block;
	position: relative;
}
.grid figcaption {
	
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #1c1d26;
	color:  #ece9f6;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.grid figcaption button#delBtn {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	border: none;
	display: inline-block;
	background: #e44c65;
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.grid figcaption button#modBtn {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	border: none;
	display: inline-block;
	margin-right: 60px;
	background: #e44c65;
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.grid figcaption button#modBtn:hover,
.grid figcaption  button#delBtn:hover{	
	background-color: #fa6b83; 
}  
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.6s, opacity 0.1s;
}

button:hover{
	cursor: pointer;
}

#emptyKeyword {
	background-image: url(../img/keyword.png);
	background-repeat: no-repeat;
	background-position: 15% 50%;

	position: fixed;
}
#emptyKeyword p {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	position: relative;
	top: 60px;
	left: 253px;
	width: 345px;
}


/* Footer Style */
.footer {
	text-align: center;
	border-top: 1px solid #aaa;
	width: 80%;
	padding-top: 20px;
	margin: 0 auto;
}
.footer ul {
	padding: 0px;
	margin: 0px;
}
.footer ul li {
	list-style: none;
	display: inline-block;
}
.footer .footer-menu {
	margin-bottom: 40px;
}
.footer .footer-menu ul li {
	margin: 0px 15px;
}
.footer .footer-menu a {
	font-size: 13px;
	color: #7a7a7a;
	text-transform: uppercase;
	transition: all 0.5s;
}
.footer .footer-menu a:hover {
	color: #b74e91;
	text-decoration: none;
}
.footer .social-icons {
	margin-bottom: 60px;
}
.footer .social-icons ul li {
	margin: 0px 10px;
}
.footer .social-icons a {
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: #aaa;
	text-align: center;
	display: inline-block;
	line-height: 33px;
	border-radius: 50%;
	font-size: 13px;
	transition: all 0.5s;
}
.footer .social-icons a:hover {
	background-color: #b74e91;
}

/* 즐겨찾기 */
.fa-bookmark{
    color: #fff;
	text-shadow: 0 0 2px #e44c65;
    position: absolute;
    right: 20px;
    top: 100px;
    transform: translateY(-2px);
	z-index: 1;
}
.fa-bookmark:hover{
    cursor: pointer;
}



/*////////// create 페이지 //////////*/
div#wrap {
	width: 1000px;
	height: 640px;
	margin: 0 auto;
}
form {width: 600px;}
#memoimg {
	margin: 40px auto;
	background-image: url(../img/memoji.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	width: 986px;
	height: 548px;
	position: absolute;
}
#writeFrmArea {
	position: relative;
	width: 800px;
}
#writeFrm {
	/* width: 900px; */
	/* margin: 0 auto; */
	position: relative;
	top: 90px;
	left: 180px;
}
#writeFrm input {
	width: 500px;
	padding: 6px;
	border: 1px solid #5e42a6;	
}

#content {
	width: 500px;
	height: 240px;
	border: 1px solid #5e42a6;	
}

#sbmBtnArea {
	width: 610px;
	text-align: right;
}
.sbmBtn {
	border: none;
	padding: 2px 10px;
	color: #fff;
	font-size: 24px;
	background-color: #e44c65;
}
.sbmBtn:hover {
	background-color: #fa6b83; 
}

#writeFrm table {
	width: 700px;
	height: 380px;
	margin: 0auto;
}

#writeFrm th {
	text-align: right;
	padding-right: 20px;
	font-size: 20px;
	color: #1c1d26;
}

#languages {
	position: relative;
	top: -10px;
	left: 450px;
}

select {
	border-radius: 10px;
	border: 3px solid;
	background-color: #fff;
	border-image : linear-gradient(to right, #5e42a6, #b74e91);
	background-origin: border-box;
	border-image-slice: 1;
	text-align: center;
	width: 120px;
}

#languages>span {
	font-size: 16px;
	font-weight: bold;
	color: #5e42a6;
}
.fa-plus:before {
    content: "\f067";
}

/*////////// detail page //////////*/
.fa-trash:before {
    content: "\f1f8";
}
.fa-pencil:before {
    content: "\f040";
}
#detailContent {
	width: 500px;
	height: 200px;
	border: 1px solid #ece9f6;	
}
#detail_languages{
	position: relative;
	left: 380px;
	color: #5e42a6;
	font-weight: bold;
}
#detail_sbmBtnArea {
	padding-bottom: 20px;
	width: 610px;
	text-align: right;
}


/*////////// update page //////////*/

.up_sbmBtn {
	border: none;
	padding: 8px 10px;
	color: #fff;
	font-size: 24px;
	background-color: #e44c65;
}
.up_sbmBtn:hover {
	background-color: #fa6b83; 
}

.social-icons i {
	line-height: 33px;
}